@import "tailwindcss";

@theme {
  --color-green: #1CB536;
  --color-light-blue: #DDEBFF;
  --color-light-green: #E2FADB;
}

body {
  font-family: var(--font-roboto), sans-serif;
}

h1 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight:100;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.sidebar{
  height:100vh;
}
.space-left-right {
  margin: 0.8rem 5%;
 
}

.filter-section{
  font-weight: 300;
}

.header-section-title {
  font-weight: 500;
}
input:focus {
  border: 2px solid #1CB536;
}

li {
  font-weight: 300;
}
/* ---- SIDE BAR HOVER ---- */
.sidebar-hover:hover{
  background-color: rgba(241, 241, 241, 0.703);
  transition: ease-out 500ms;
}
